pandas==1.1.2
numpy==1.18.5
#torch==1.6.0
https://download.pytorch.org/whl/cpu/torch-1.6.0%2Bcpu-cp36-cp36m-linux_x86_64.whl
#torchvision==0.7.0
https://download.pytorch.org/whl/cpu/torchvision-0.7.0%2Bcpu-cp36-cp36m-linux_x86_64.whl
#bcolz==1.2.1
nmslib==2.0.6
matplotlib==3.2.2
Flask==1.1.2
pyngrok==4.1.13
fastapi==0.61.1
uvicorn==0.12.1
gunicorn
python-multipart==0.0.5
albumentations
fastprogress
tqdm
uvloop
httptools
requests